#week-todo-container {
  background-color: inherit;

  border-radius: 5px;
  padding: 0px 1px 0px 1px;
}

.week-todo-subcontainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-width: 14%;
  overflow: hidden;
  background-color: rgba(255, 174, 0, 0.205);
  border-radius: 10px;
  margin: 1px 1px 1px 1px;
  border: 1px black solid;
}

.week-todo-subcontainer-item {
  display: flex;
  background-color: rgb(32, 141, 10);
  border-radius: 5px;
  padding: 10px 5px;
  margin: 20px 0px;
}

.week-todo-subtitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid green;
}
