.dayTodoItem {
  margin: 15px;
  margin-right: 40px;
  padding: 10px;
  transition-duration: 0.4s;
  list-style: none;

  color: rgba(0, 0, 0, 1);
  background-color: grey;
}

.grabbing {
  cursor: grabbing;
  /* transform: translateX(-10000px); */
  /* color: rgba(0, 0, 0, 0); */
}

.move_stop {
  transition-duration: 0s;
}

/* .move_down {
  transform: translate(0, 41px);
}

.move_up {
  transform: translate(0, -41px);
} */

.day-todo-container-ul {
  overflow-y: scroll;
  height: 50vh;
  min-height: 50vh;
}
