#week-todo-container {
  display: flex;
  flex: 2;
  /* background-color: inherit; */
  flex-direction: column;
  /* border-radius: 0.4rem; */
  /* padding: 0px 1px 0px 1px; */
}

#week-todo-subtitle-container {
  display: flex;
}

#week-todo-container-lists {
  background-color: var(--main-color-carousel-white);
  display: flex;
  flex: 1;
  padding: 0.6rem;
}

.week-todo-subcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.8rem;
  overflow: hidden;
  border-right: 1px solid var(--main-color-carousel-lightgrey);
  transition: 0.3s;
}

.week-todo-subcontainer:last-child {
  border-right: none;
}

.week-todo-subcontainer-item {
  display: flex;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--main-color-carousel-lightgrey);
}

.week-todo-subtitle {
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  background-color: var(--main-color-carousel-subtitlebg);
  color: var(--main-color-carousel-title);
  padding: 0.5rem;
}
.week-todo-subcontainer {
  min-width: 14%;
  max-width: 14%;
  overflow: hidden;
}

.week-todo-subcontainer-item {
  padding: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: grey;
}
