#day-container #day-main {
  align-items: center;
  text-align: center;
  max-height: 8vh;
  min-height: 8vh;
}
#day-main #day-title {
  font-weight: bolder;
  font-size: 4em;
  color: white;
}

#day-todo-container {
  margin-top: 20px;
}
#day-button-container {
  align-items: center;
  text-align: center;
  margin: 5 px;
  padding: 15px;
}
.day-btn-add-todo {
  padding: 10px 50px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  transition: 0.3s linear;
}
.day-btn-add-todo:hover {
  transition: 0.3s linear;
  background-color: black;
  color: white;
}

.dayTodoItem {
  margin: 15px;
  padding: 20px;
  transition-duration: 0.4s;
  list-style: none;

  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 187, 0, 0.335);
  border-radius: 13px;
}

.grabbing {
  cursor: grabbing;
  /* transform: translateX(-10000px); */
  /* color: rgba(0, 0, 0, 0); */
}

.move_stop {
  transition-duration: 1s;
}

/* .move_down {
  transform: translate(0, 41px);
}

.move_up {
  transform: translate(0, -41px);
} */

.day-todo-container-ul {
  overflow-y: scroll;
  padding: 0px 0px 0px 10px;
}
