#week-container {
  display: flex;
}

.week-todo-subcontainer {
  min-width: 14%;
  max-width: 14%;
  overflow: hidden;
}

.week-todo-subcontainer-item {
  padding: 10px;
  margin-top: 10px;
  margin-left: 1rem;
  margin-right: 5px;
  background-color: grey;
}
