body {
  overflow: hidden;
}

/* Aside */
#carousel-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  width: 80px;
  height: 100%;
  top: 0px;
  z-index: 1000;
}
#carousel-aside.left {
  left: 0px;
}
#carousel-aside.right {
  right: 0px;
}

/* Btn */
.btn-carousel {
  background-color: inherit;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

.btn-carousel:hover {
  color: grey;
}

/* Carousel */
#carousel-item-container {
  position: relative;
  left: -100%;
  background: hotpink;
  width: 300%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.carousel-child {
  /* display: flex; */
  background: indianred;
  width: 33.33333%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;

  transition-duration: 0s;
}

.carousel-child.left {
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: translate(100%, 0);
}

.carousel-child.right {
  transition-duration: 1s;
  transition-timing-function: ease;
  transform: translate(-100%, 0);
}

#day-container {
  margin-left: 300px;
  margin-right: 300px;
  min-height: 70vh;

  display: flex;
  align-items: center;
}

#week-container {
  display: flex;
  align-items: center;
  min-height: 70vh;
}

#week-todo-container {
  display: flex;
}
