* {
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
}

.bg-image {
  margin: 0;
  padding: 0;

  position: absolute;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(100, 100, 100, 0.5) 20%,
      rgba(180, 180, 180, 0.2) 50%,
      rgba(180, 180, 180, 0.4) 80%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../wallpaper5.jpg");

  width: 110%;
  height: 110%;

  top: -5%;
  left: -5%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -99999;

  /* transform: scale(1.1); */
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
  right: 10px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  right: 10px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button {
  outline: none;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
