#modal-signup-box {
  display: flex;
  flex-direction: column;
}

#modal-header-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 55px;
  margin-right: 55px;
}

#modal-footer {
  margin-top: 20px;
}
#modal-header-signup {
  border-bottom: 1px rgba(56, 56, 56, 0.281) solid;
  box-shadow: rgba(56, 56, 56, 0.281);
}
