* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url("/src/images/sur.jpg"); */
  background-size: cover;
}

#main-page header {
  border: green solid 1px;
  display: flex;
  flex: 0;
  flex-direction: row;
}
#main-page #button-box {
  margin-left: auto;
  display: flex;
  height: 50%;
}
#main-page .main-btn {
  font-size: large;
  font-weight: bold;
  margin-right: 5px;
  margin-top: auto;
  width: 100px;
  height: 40px;
}

#main-page section {
  border: green solid 1px;
  display: flex;
  flex: 8;
  flex-direction: column;
}
#main-page footer {
  border: green solid 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#top-h,
#top-l {
  flex: 2;
}
#welcome-box {
  flex: 2;
}
#welcome-box .welcome-text {
  text-align: center;
  font-size: 5rem;
}

#btn-demo-box {
  display: flex;
  flex: 2;
  justify-content: center;
}
#btn-demo-box .btn-demo {
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  width: 150px;
  height: 40px;
}
