* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url("/src/images/sur.jpg"); */
  background-size: cover;
}

#main-page header {
  border: green solid 1px;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-between;
}
#main-page #button-box {
  display: flex;
  flex-direction: row;
}

#main-page .main-btn {
  font-size: large;
  font-weight: bold;
  margin-right: 5px;
  margin-top: auto;
  width: 100px;
  height: 40px;
  background: white;
  transition: 1s;
}
#main-page .main-btn:hover {
  background: rgba(183, 225, 230, 0.931);
  transition: 1s;
}

#main-page section {
  border: green solid 1px;
  display: flex;
  flex: 8;
  flex-direction: column;
}
#main-page footer {
  border: green solid 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#top-h,
#top-l {
  flex: 2;
}
#welcome-box {
  flex: 2;
}
#welcome-box .welcome-text {
  text-align: center;
  font-size: 5rem;
  animation: text-fadein 3s;
}

#btn-demo-box {
  display: flex;
  flex: 2;
  justify-content: center;
  animation: text2-fadein 3s;
}

@keyframes text-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text2-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#btn-demo-box .btn-demo {
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  width: 150px;
  height: 40px;
}
