#modal-container.deactive {
  position: fixed;
  z-index: 100;
  overflow: auto;
  border: black 1px solid;
  cursor: pointer;
  transform: translateY(50px);
}

#modal-container {
  padding: 20px;

  width: 400px;
  height: 60%;
  max-height: 100%;
  max-width: 100%;
  display: block;

  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;

  animation: in 0.4s ease-out;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  font-size: large;
  background-color: #ddd;
  outline: none;
}

#modal-container.active {
  display: none;
}
button {
  cursor: pointer;
  border: none;
}
