#modal-signup-box {
  display: flex;
  flex-direction: column;
}

#modal-header-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#section-signup i {
  position: absolute;
}
.icon {
  padding: 10px;
  min-width: 40px;
}

#modal-footer {
  margin-top: 20px;
}
