#modal-login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#modal-header-login {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 55px;
}
#modal-header-login .modal-login-close {
  margin-left: auto;
}

/* section 2*/

#auto-login {
  margin-bottom: 10px;
}

#modal-header-login {
  border-bottom: 1px rgba(56, 56, 56, 0.281) solid;
  box-shadow: rgba(56, 56, 56, 0.281);
}

#sub-login-box {
  display: flex;
  justify-content: space-between;
}

/* footer */
#modal-footer button,
#social-box button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

#social-box .github-btn-box {
  background: rgba(0, 0, 0, 0.87);
}
