/* Profile Main Page Same Option*/

#myPage {
  display: flex;
  border: 1px rgb(255, 251, 0) solid;
  flex-direction: column;
  flex: 6 2 0;
}

#myPage-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url("/src/images/sur.jpg"); */
  background-size: cover;
}

#myPage-header {
  display: flex;
  border: 1px rgb(32, 5, 185) solid;
  flex-direction: row;
  flex: 1;
}

/* profile box */
#profile-container {
  border: 1px red solid;
  width: 900px;
  height: 500px;

  margin: 200px 350px 0px 350px;
}

.profile-header-btn {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}
/* different option */
.profile-header-btn .profile-title-name,
.profile-header-btn .profile-pwchange-btn {
  margin-left: 50px;
}

#profile-section-a {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  margin: 30px;
}
/*profile-header-effect*/
#sidebar .sidebar-header-name {
  transition: all 0.3s ease-in-out;
}
#sidebar .sidebar-header-name:hover {
  transform: scale(1.3);
}

/* show info */
#profile-label-box {
  margin: 10px 10px 10px 10px;
  border-top: 1px solid black;
}

#profile-info-box {
  margin-left: 10px;
}

.profile-label-name {
  font-size: 20px;
  font-weight: bolder;
}

.profile-info-name {
  font-size: 20px;
}

/* profile-password-change */
#profile-section-b {
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  margin: 30px;
  padding-left: 10px;
}

#profile-section-b .profile-pwd {
  width: 50%;
}
#profile-footer {
  border: 1px red solid;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pwd-change-btn-box {
  margin-left: 20px;
}
.pwd-change-btn-box .pwd-change-btn {
  font-size: 25px;
}
